<!--
<section class="control">
  <div class="control-inner">

    
    <div class="control-group">
      <label>Buscar</label>
      <input type="text" placeholder="Digite algo..." />
    </div>

    <div class="control-group">
      <label>Filtro</label>
      <select>
        <option>Todos</option>
      </select>
    </div>

    <div class="control-group">
      <button>Aplicar</button>
    </div>

  </div>
</section>
-->

<section class="gallery">
  <div class="gallery-grid">

    <!-- BOTÃO DE UPLOAD -->
    <div class="card upload-card">
      <label for="image">
      </label>
      <input id="image" type="file" hidden />
    </div>

    <!-- Exemplo de item -->
    <div class="card image-card">
      <img src="/img/teste.jpg" alt="">
    </div>

  </div>
</section>